{% extends "base_generic.html" %}

{%block content%}
<h1 align="center"><b>{{ user.username }}</b></h1>
<br>
<i><h5 align="right">Registered: {{ user.date_joined }}</h5></i>

<strong><em>{{ user.username }}</em> has the following dogs:</strong>
<div class="flex flex-row flex-wrap gap-4 mt-4" style="list-style: none;">
  {% for dog in user.dog_set.all %}
    <div class="flex flex-col items-center w-32">
      {% if dog.image %}
        <a href="{{ dog.get_absolute_url }}">
          <img src="{{ dog.image.url }}" alt="{{ dog.dog_name }}" class="w-24 h-24 object-cover rounded-md border border-gray-700">
        </a>
      {% endif %}
      <a href="{{ dog.get_absolute_url }}" class="mt-1 text-sm text-blue-300 hover:underline">
        {{ dog.dog_name }}
      </a>
    </div>
  {% empty %}
    <p>No dogs yet.</p>
  {% endfor %}
</div>





{%endblock content%}